<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EPUBium_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EPUBium_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <userSettings>
    <EPUBium_Desktop.Properties.Settings>
      <setting name="windowsize" serializeAs="String">
        <value>1024, 720</value>
      </setting>
      <setting name="themepack" serializeAs="String">
        <value />
      </setting>
      <setting name="windowloc" serializeAs="String">
        <value>30, 30</value>
      </setting>
      <setting name="ismaxium" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="respack" serializeAs="String">
        <value />
      </setting>
    </EPUBium_Desktop.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  
  <applicationSettings>
    <EPUBium_Desktop.Properties.Settings>
      <setting name="EnableWindowsFormsHighDpiAutoResizing" serializeAs="String">
        <value>True</value>
      </setting>
    </EPUBium_Desktop.Properties.Settings>
  </applicationSettings>
</configuration>
